<% layout('layouts/boilerplate') %>
<div class="row">
  <h1 class="text-center">New Campground</h1>
  <div class="col-6 offset-3">
    <form
      action="/campgrounds"
      method="POST"
      class="validated-form"
      novalidate
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label fw-bold text-muted" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="campground[title]"
          required
        />
        <div class="valid-feedback">Mantap!</div>
      </div>
      <div class="mb-3">
        <label class="form-label fw-bold text-muted" for="location"
          >Location</label
        >
        <input
          class="form-control"
          type="text"
          id="location"
          name="campground[location]"
          required
        />
        <div class="valid-feedback">Mantap!</div>
      </div>

      <div class="mb-3">
        <label class="form-label fw-bold text-muted" for="price"
          >Campground Price</label
        >
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input
            class="form-control"
            placeholder="5.00"
            aria-label="Username"
            aria-describedby="price-label"
            id="price"
            name="campground[price]"
            required
          />
          <div class="valid-feedback">Mantap!</div>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label fw-bold text-muted" for="description"
          >Description</label
        >
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="campground[description]"
          required
        ></textarea>
        <div class="valid-feedback">Mantap!</div>
      </div>

      <label for="image" class="form-label fw-bold text-muted"
        >Choose Image(s)</label
      >
      <div class="form-file custom-file">
        <input
          class="form-control"
          type="file"
          id="image"
          name="image"
          multiple
        />
        <label for="image" class="form-file-label form-label">
          <span class="custom-file-label"></span>
          <div class="form-file button"></div>
        </label>
        <div class="valid-feedback">Mantap!</div>
      </div>

      <div class="mb-3">
        <button class="btn btn-success">Add Campground</button>
      </div>
    </form>

    <a href="/campgrounds">Back to home</a>
  </div>
</div>
